@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: block;
  padding: 4px 30px 0 30px;
  font-size: 16px;
}

#map {
  position: fixed;
  top: 0;
  left: 20vw;
  bottom: 0;
  right: 0;
}

.sidepanel {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20vw;
  padding: 5px 5px 5px 5px;
  /*padding: 1em;*/
}

.leaflet-bottom.leaflet-left {
  width: 100%;
}

.leaflet-control-container .leaflet-timeline-controls {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
}

.context {
  font-family: Helvetica, Arial;
  font-size: 13px;
  color: #999;
  padding: 10px 0 0 0;
}

.subheader {
  border-bottom: 1px solid #ddd;
}

.footer {
  border-top: 1px solid #ddd;
  margin-top: 30px;
}

.titleBlock {
  text-align: right;
}

.toolbar {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  font: 30px "Helvetica Neue";
  width: 100%;
}

#timeline {
  margin-bottom: 40px;
  padding-bottom: 10px;
  width: 100%;
  /*float: left;*/
}

.timeline-element {
  display: block;
  float: left;
}

#evictionCount {
  font: 18px "Helvetica Neue";
  height: 60px;
  width: 400px;
  display: block;
  float: right;
}

.tooltipMap {
  color: #fff;
  background-color: #000;
  opacity: 0.7;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-transform: uppercase;
  letter-spacing: +1px;
}

path {
  fill-opacity: .5;
  stroke-width: 1.5px;
}

#counter {
  color: #000000;
  font-family: "Helvetica Narrow", "Arial Narrow", Tahoma, Arial, Helvetica;
  letter-spacing: -1px;
}

#play {
  width: 30px;
  height: 30px;
  cursor: pointer;
  vertical-align: middle;
  background-image: url('../images/pause.png');
}

#slider {
  width: 65%;
  height: 14px;
  top: 8px;
  z-index: 20;
  margin-left: 5px;
}

circle {
  stroke-width: 1px;
  fill-opacity: 0.5;
}

.center {
  stroke-opacity: 1;
}


/* menu acordión */

.panel-default>.panel-heading {
  /*color: #333;
  background-color: #fff;
  border-color: #e4e5e7;*/
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
}

.panel-default>.panel-heading a:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}


/* código de colores */

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  text-align: left;
  line-height: 22px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 10px;
  opacity: 0.6;
  border-radius: 10px;
}
